<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Blog</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="img/favicon.ico">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="/">
          <p class="navbar-brand">
            <span class="logo">B</span> DAILY BLOG<span class="dot">.</span>
          </p>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">HOME</a></li>
        <li id="about"><a href="/about">ABOUT</a></li>
        <li id="contact"><a href="/contact">CONTACT</a></li>
        <li id="newsletter"><a href="https://quiet-chamber-12937.herokuapp.com/">NEWSLETTER</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
