html {
  min-height: 100%;
  position: relative;
}

.container {
  max-width: 80%;
  margin-bottom: 20px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    background-color: #343a40 !important;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #84CEEB !important;
}

.footer-padding {
	padding-bottom: 100px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	background-color: #464866;
  padding-top: 25px;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}

.logo {
  border-radius: 10%;
  border: 2px solid;
  padding: 2px;
  color: #84CEEB;
  font-family: times;
  font-weight: bold;
}

.dot {
  opacity: 0.7;
  font-weight: 700;
  color: white;
  text-shadow: 0px 0px 3px #fff,
    0px 0px 4px #fff,
    0px 0px 5px #f0f,
    0px 0px 6px #f0f,
    0px 0px 7px #0ff,
    0px 0px 8px #0ff,
    0px 0px 9px #0ff
}

.navbar-brand:hover .dot {
  opacity: 1;
}

.social {
  color: #fff;
  margin: 0 10px 0 10px;
}

.social:hover {
  color: #84CEEB !important;
  text-decoration: none;
}

h1 {
  text-decoration: underline #8860D0;
}

.compose-btn {
  background-color: #5AB9EA;
  border: #5AB9EA;
}

.compose-btn:hover {
  background-color: #5680E9;
  border: #5680E9;
}
